:link, :visited {
  color: inherit;
  text-decoration: none;
}

:link:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

input, button {
  color: black;
  background: white;
  border-radius: 4px;
  padding: 8px;
  display: block;
}

button {
  background: #CCC;
}

input {
  width: 100%;
  margin-bottom:0.5em;
}

body {
  background: black;
  color: white;
  margin: 10px;
}

body > main > header {
  margin: 3em 0;
  text-align: center;
}

body > main > footer {
  margin-top: 3em;
  text-align: center;
  p {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}

.results {
  color: #f00;
  &.success {
    color: #0b0;
  }
  h3 {
    font-weight: normal;
    font-size: 18px;
    em {
      font-weight: bold;
    }
  }
}

.adsbygoogle.footer-mpu {
  margin: 30px auto;
  display: block;
  height: 250px;
  width: 300px;
}

.adsbygoogle.sideBanner {
  display: inline-block;
  width: 300px;
  height: 600px;
}

body.with-sidebar > main {
  display: inline-block;
  p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 800px) {
  .adsbygoogle.sideBanner {
    display: block;
  }
  body.with-sidebar > main {
    display: block;
  }
}
