<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>AMP Validator{{#if title}} | {{title}} {{subtitle}}{{/if}}</title>
  <link rel="stylesheet" href="/all.css"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
</head>
<body>
<main>
<header>
  <h1>Amp Validator</h1>

  <p>This validator relies on the console output on the validator provided by <a
      href="https://github.com/ampproject/amphtml">The AMP Project</a>.</p>

  <p class="beta-warning">Feel free to raise issues and feature/pull requests on <a
        href="https://github.com/dorightdigital/amp-validator-web">Our Github project</a> if you find any issues or have any suggestions.
  </p>
</header>

{{{body}}}

<footer>
  Brought to you by <p><a href="http://dorightdigital.com/"><img src="/DRD-logo.jpg" alt="Do Right Digital"/></a></p>
</footer>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/main.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- amp-validator-mpu -->
<ins class="adsbygoogle footer-mpu"
     data-ad-client="ca-pub-5738874532953979"
     data-ad-slot="6467932442"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</main>
</body>
</html>
